!! Colorscheme
!! sayo colorscheme

*.foreground: #bebebe
*.background: #2a2a2a

! black
*.color0: #2a2a2a
*.color8: #3a3a3a

! red
*.color1: #627a8a
*.color9: #627a8a

! green
*.color2: #aa8f7c
*.color10: #aa8f7c

! yellow
*.color3: #8b8f7e
*.color11: #8b8f7e

! blue
*.color4: #987a6b
*.color12: #987a6b

! magenta
*.color5: #877979
*.color13: #877979

! cyan
*.color6: #937f74
*.color14: #937f74

! white
*.color7: #bebebe
*.color15: #bebebe

!!XTerm
XTerm.vt100.scrollBar: false
XTerm*internalBorder: 30

!! DPI
Xft.dpi: 109

!! font
!!*.font: xft:SF Mono:style=Regular:size=12, xft:Noto Serif CJK JP:style=SemiBold:size=12,xft:symbola:size=12:minspace=False
!!*.boldFont: xft:SF Mono:style=Bold:size=12, xft:Noto Serif CJK JP:style=Black:size=12
!!*.italicFont: xft:SF Mono:style=Regular Italic:size=12, xft:Noto Serif CJK JP:style=Italic:size=12
!!*.boldItalicFont: xft:SF Mono:style=Bold Italic:size=12, xft:Noto Serif CJK JP:style=Bold Italic:size=12
*antialias: true
*autohint: true

!! Rofi
rofi.font: Noto Sans 11
