!! Colorscheme
!! sayo colorscheme

*.foreground: #bebebe
*.background: #2a2a2a

! black
*.color0: #2a2a2a
*.color8: #3a3a3a

! red
*.color1: #627a8a
*.color9: #627a8a

! green
*.color2: #aa8f7c
*.color10: #aa8f7c

! yellow
*.color3: #8b8f7e
*.color11: #8b8f7e

! blue
*.color4: #987a6b
*.color12: #987a6b

! magenta
*.color5: #877979
*.color13: #877979

! cyan
*.color6: #937f74
*.color14: #937f74

! white
*.color7: #bebebe
*.color15: #bebebe

!!XTerm
UXTerm.vt100.scrollBar: false
UXTerm.vt100.locale: true
UXTerm*internalBorder: 30
UXTerm.termName: uxterm-256color
UXTerm.vt100.backarrowKey: false
UXTerm.ttyModes: erase ^?
UXTerm*faceName: SFMono Regular Nerd Font Complete Mono
!!UXTerm.vt100.faceName: "SFMono Regular Nerd Font Complete Mono"
UXTerm*faceSize: 12
UXTerm*renderFont: true
UXTerm*vt100.translations: #override \n\
Ctrl <Key> minus: smaller-vt-font() \n\
Ctrl <Key> plus: larger-vt-font() \n\
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\

!!Transparency



!! DPI
Xft.dpi: 109

antialias: true
*autohint: true

!! Rofi
rofi.font: Noto Sans 11
